extends layouts/docs

block content
	- var page = {section: 'docs'};

	#docs-documentation.layout
		include docs/nav

		main.layout__content.ui
			.grid__item-sm.grid.grid--justify-center
				include docs/sections/get-started
				include docs/sections/typography
				include docs/sections/lists

		include docs/sidebar
