extends layouts/docs

block content
	nav.navbar.navbar--expand-lg.navbar--sticky
		.navbar__brand
			a(href='/', title='Mantis UI')
				img.icon(src='./img/logo.svg')
				| Mantis UI

		.navbar__collapse
			ul.navbar__nav
				li.navbar__nav__item
					a.navbar__link.navbar__link--active(href='/', title='Home') Home
				li.navbar__nav__item.dropdown
					button.navbar__link.dropdown__toggle(title='Documentation') Documentation
					.dropdown__list.dropdown__list--bottom-left
						button.dropdown__close
							+icon('close')
						.dropdown__header Get started
						a.dropdown__item(href='#!') Introduction
						a.dropdown__item(href='#!') Usage
						hr.dropdown__separator
						.dropdown__header Typography
						a.dropdown__item(href='#!') Introduction
				li.navbar__nav__item
					a.navbar__link.navbar__link--disabled(title='Soon') Examples
				li.navbar__nav__item
					a.bt.bt--fussy.bt--success(href='https://github.com/mantis-stack/mantis-ui/archive/master.zip', title='Download', target='_blank') #[+icon('file-download')] Download

		button.navbar__menu.bt.bt--fussy
			+icon('menu')

	section#docs-home.grid.grid--column.text--center
		#docs-home__content.grid.grid--align-center.grid--justify-center
			img#docs-home__logo(src='./img/logo.svg')
			h1#docs-home__title The fastest and most up-to-date modular front-end framework

			#docs-home__ctas
				a.bt.bt--large.bt--primary(href='#') #[+icon('navigate-next')] Get started
				a.bt.bt--large.bt--fussy(href='https://github.com/mantis-stack/mantis-ui', title='GitHub', target='_blank') #[+icon('github')] GitHub

		#docs-home__footer.grid__item-sm--auto
			p.small.em.text--muted Version #{version}

			a(class='github-button', href='https://github.com/mantis-stack/mantis-ui', data-icon='octicon-star', data-show-count='true', aria-label='Star mantis-stack/mantis-ui on GitHub') Star
			a(class='github-button', href='https://github.com/mantis-stack/mantis-ui/fork', data-icon='octicon-repo-forked', data-show-count='true', aria-label='Fork mantis-stack/mantis-ui on GitHub') Fork

	script(async, defer, src='https://buttons.github.io/buttons.js')
