extends layouts/default

block content
	main.grid
		section.grid__item-sm.ui
			h1 Heading 1
			h2 Heading 2
			h3 Heading 3
			h4 Heading 4
			h5 Heading 5
			h6 Heading 6

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit a, debitis libero dicta quae eum sint animi, eaque modi aut eos. Neque magnam #[a(title='laborum amet') laborum amet] mollitia alias incidunt, aliquid.

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint delectus iusto ut quidem rerum, pariatur quas beatae eveniet aliquid, cum eos ipsam dolorem! Enim doloribus nam, ducimus, fugiat dolor veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, temporibus ipsa magni possimus quidem ea voluptatem nobis! Nemo quae magnam #[a(title='perferendis obcaecati') perferendis obcaecati] quibusdam nobis atque odit, porro dolores fugit sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ut maxime. Eveniet velit molestiae alias dicta itaque praesentium numquam magni, incidunt. Facilis tenetur aliquid dignissimos nostrum hic, repudiandae voluptatem laboriosam!

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi ex magnam #[a(title='libero eum') libero eum] exercitationem ducimus id nemo, voluptatum obcaecati ipsam, dolorem fugiat laudantium nostrum placeat ullam enim optio mollitia.

			p You can use the mark tag to #[mark highlight] text.
			p #[del This line of text is meant to be treated as deleted text.]
			p #[s This line of text is meant to be treated as no longer accurate.]
			p #[ins This line of text is meant to be treated as an addition to the document.]
			p #[u This line of text will render as underlined]
			p #[small This line of text is meant to be treated as fine print.]
			p #[strong This line rendered as bold text.]
			p #[em This line rendered as italicized text.]

			p Lorem ipsum dolor sit amet, #[abbr(title='Hyper Text Markup Language') HTML] adipisicing elit.

			p Output: #[samp Lorem ipsum dolor sit amet, consectetur adipisicing elit.]

			p For example, #[code &lt;section&gt;] should be wrapped as inline.

			pre.
				p You can use the mark tag to \#[mark highlight] text.
				p \#[del This line of text is meant to be treated as deleted text.]
				p \#[s This line of text is meant to be treated as no longer accurate.]
				p \#[ins This line of text is meant to be treated as an addition to the document.]
				p \#[u This line of text will render as underlined]
				p \#[small This line of text is meant to be treated as fine print.]
				p \#[strong This line rendered as bold text.]
				p \#[em This line rendered as italicized text.]

			p To edit settings, press #[kbd #[kbd ctrl] + #[kbd ,]]

			blockquote
				p.blockquote__quote Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				footer.blockquote__footer Someone famous like #[cite.blockquote__cite(title='Acauã Montiel') Acauã Montiel]

			hr

			ul
				li Lorem ipsum dolor sit amet
				li Consectetur adipiscing elit
				li Integer molestie lorem at massa
				li Facilisis in pretium nisl aliquet
				li Nulla volutpat aliquam velit
					ul
						li Phasellus iaculis neque
						li Purus sodales ultricies
							ul
								li Phasellus iaculis neque
								li Ac tristique libero volutpat at
						li Vestibulum laoreet porttitor sem
						li Ac tristique libero volutpat at
				li Faucibus porta lacus fringilla vel
				li Aenean sit amet erat nunc
				li Eget porttitor lorem

			ol
				li Lorem ipsum dolor sit amet
				li Consectetur adipiscing elit
				li Integer molestie lorem at massa
				li Facilisis in pretium nisl aliquet
				li Nulla volutpat aliquam velit
					ol
						li Phasellus iaculis neque
						li Purus sodales ultricies
						li Vestibulum laoreet porttitor sem
						li Ac tristique libero volutpat at
				li Faucibus porta lacus fringilla vel
				li Aenean sit amet erat nunc
				li Eget porttitor lorem

			dl
				dt Description lists
				dd A description list defines terms and their corresponding descriptions.
				dt This is a term
				dd This is a description.
				dt This is a term
				dd This is a description.

			hr

			<button class="bt">Button &lt;button&gt;</button>
			<a href="" class="bt">Button &lt;a&gt;</a>
			<div class="bt">Button &lt;div&gt;</div>
			<span class="bt">Button &lt;span&gt;</span>

			br
			br

			p Themes:

			button.bt.bt--alert Alert
			button.bt.bt--warning Warning
			button.bt.bt--info Info
			button.bt.bt--success Success
			button.bt.bt--primary Primary
			button.bt.bt--secondary Secondary

			br
			br

			p Styles:

			button.bt Default
			button.bt.bt--fussy Fussy
			button.bt.bt--quiet Quiet

			br
			br

			p Styles with themes:

			button.bt.bt--fussy.bt--alert Fussy Alert
			button.bt.bt--quiet.bt--alert Quiet Alert

			br
			br

			button.bt.bt--fussy.bt--warning Fussy Warning
			button.bt.bt--quiet.bt--warning Quiet Warning

			br
			br

			button.bt.bt--fussy.bt--info Fussy Info
			button.bt.bt--quiet.bt--info Quiet Info

			br
			br

			button.bt.bt--fussy.bt--success Fussy Success
			button.bt.bt--quiet.bt--success Quiet Success

			br
			br

			button.bt.bt--fussy.bt--primary Fussy Primary
			button.bt.bt--quiet.bt--primary Quiet Primary

			br
			br

			button.bt.bt--fussy.bt--secondary Fussy Secondary
			button.bt.bt--quiet.bt--secondary Quiet Secondary

			br
			br

			p Sizes:

			button.bt.bt--small Small
			button.bt Default
			button.bt.bt--large Large
			button.bt.bt--giant Giant
			button.bt.bt--large Large
			button.bt Default
			button.bt.bt--small Small

			button.bt.bt--block.bt--small Block Small
			button.bt.bt--block Block Default
			button.bt.bt--block.bt--large Block Large
			button.bt.bt--block.bt--giant Block Giant

			br
			br

			p Active:

			button.bt Normal
			button.bt.bt--active Active

			br
			br

			p Disabled:

			button.bt(disabled) Disabled

			hr

			p #[+icon('github')] #[small See #[a(href="https://github.com/mantis-stack/mantis-ui", target="_blank") Mantis UI on GitHub]].
