extends layouts/docs

block content
	- var page = {section: 'home'};

	include docs/nav

	main#docs-home.layout.grid.grid--column
		section.layout__content.grid.grid--align-center.grid--justify-center.text--center
			img#docs-home__logo(src='./img/logo.svg')
			h1#docs-home__title The fastest and most up-to-date modular front-end framework

			#docs-home__ctas
				a.bt.bt--large.bt--primary(href='documentation.html') #[+icon('navigate-next')] Get started
				a.bt.bt--large.bt--fussy(href='https://github.com/mantis-stack/mantis-ui', title='GitHub', target='_blank') #[+icon('github')] GitHub

		include docs/footer

