extends layouts/default

block content
	main.grid
		section.grid__item-sm.ui
			h1 Heading 1
			h2 Heading 2
			h3 Heading 3
			h4 Heading 4
			h5 Heading 5
			h6 Heading 6

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit a, debitis libero dicta quae eum sint animi, eaque modi aut eos. Neque magnam #[a(title='laborum amet') laborum amet] mollitia alias incidunt, aliquid.

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint delectus iusto ut quidem rerum, pariatur quas beatae eveniet aliquid, cum eos ipsam dolorem! Enim doloribus nam, ducimus, fugiat dolor veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, temporibus ipsa magni possimus quidem ea voluptatem nobis! Nemo quae magnam #[a(title='perferendis obcaecati') perferendis obcaecati] quibusdam nobis atque odit, porro dolores fugit sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, ut maxime. Eveniet velit molestiae alias dicta itaque praesentium numquam magni, incidunt. Facilis tenetur aliquid dignissimos nostrum hic, repudiandae voluptatem laboriosam!

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi ex magnam #[a(title='libero eum') libero eum] exercitationem ducimus id nemo, voluptatum obcaecati ipsam, dolorem fugiat laudantium nostrum placeat ullam enim optio mollitia.

			p You can use the mark tag to #[mark highlight] text.
			p #[del This line of text is meant to be treated as deleted text.]
			p #[s This line of text is meant to be treated as no longer accurate.]
			p #[ins This line of text is meant to be treated as an addition to the document.]
			p #[u This line of text will render as underlined]
			p #[small This line of text is meant to be treated as fine print.]
			p #[strong This line rendered as bold text.]
			p #[em This line rendered as italicized text.]

			p Lorem ipsum dolor sit amet, #[abbr(title='Hyper Text Markup Language') HTML] adipisicing elit.

			p Output: #[samp Lorem ipsum dolor sit amet, consectetur adipisicing elit.]

			p For example, #[code &lt;section&gt;] should be wrapped as inline.

			pre.
				p You can use the mark tag to \#[mark highlight] text.
				p \#[del This line of text is meant to be treated as deleted text.]
				p \#[s This line of text is meant to be treated as no longer accurate.]
				p \#[ins This line of text is meant to be treated as an addition to the document.]
				p \#[u This line of text will render as underlined]
				p \#[small This line of text is meant to be treated as fine print.]
				p \#[strong This line rendered as bold text.]
				p \#[em This line rendered as italicized text.]

			p To edit settings, press #[kbd #[kbd ctrl] + #[kbd ,]]

			blockquote
				p.blockquote__quote Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				footer.blockquote__footer Someone famous like #[cite.blockquote__cite(title='Acauã Montiel') Acauã Montiel]

			hr

			ul
				li Lorem ipsum dolor sit amet
				li Consectetur adipiscing elit
				li Integer molestie lorem at massa
				li Facilisis in pretium nisl aliquet
				li Nulla volutpat aliquam velit
					ul
						li Phasellus iaculis neque
						li Purus sodales ultricies
							ul
								li Phasellus iaculis neque
								li Ac tristique libero volutpat at
						li Vestibulum laoreet porttitor sem
						li Ac tristique libero volutpat at
				li Faucibus porta lacus fringilla vel
				li Aenean sit amet erat nunc
				li Eget porttitor lorem

			ol
				li Lorem ipsum dolor sit amet
				li Consectetur adipiscing elit
				li Integer molestie lorem at massa
				li Facilisis in pretium nisl aliquet
				li Nulla volutpat aliquam velit
					ol
						li Phasellus iaculis neque
						li Purus sodales ultricies
						li Vestibulum laoreet porttitor sem
						li Ac tristique libero volutpat at
				li Faucibus porta lacus fringilla vel
				li Aenean sit amet erat nunc
				li Eget porttitor lorem

			dl
				dt Description lists
				dd A description list defines terms and their corresponding descriptions.
				dt This is a term
				dd This is a description.
				dt This is a term
				dd This is a description.

			br

			p Themes:

			p.text--muted Muted - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod culpa odit iure, nobis fugiat. Recusandae obcaecati molestias blanditiis quisquam, maiores porro earum, sapiente dolores. Dolore amet numquam itaque sapiente quo.
			p.text--alert Alert - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id corporis, suscipit quia aperiam aut nam, expedita enim voluptate, perspiciatis pariatur libero alias nemo. Eligendi culpa hic cumque ab, optio ut.
			p.text--warning Warning - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolores laboriosam quia voluptatem nobis sit neque vel eveniet dolore officiis aliquid odio ratione, atque pariatur earum totam consequuntur quod ipsam.
			p.text--info Info - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias porro beatae mollitia, iure, amet ex labore. Unde perferendis neque dicta iure, ipsum nemo consequuntur, consequatur maxime fugit sit culpa, facere.
			p.text--success Success - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas facere, perferendis, quibusdam iure atque accusamus praesentium maiores consequuntur similique nihil dolorem molestias assumenda quo aut ad dolores earum amet rem.
			p.text--primary Primary - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, consectetur debitis at nobis mollitia nemo ullam qui provident facere, amet sit. Enim laboriosam, porro dicta nulla assumenda, quidem mollitia corrupti?
			p.text--secondary Secondary - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quod laborum ut modi distinctio enim harum expedita dolor ipsam. Earum optio tempore tenetur soluta officiis dolore ex, quasi molestiae unde.

			p Misc:

			p.text--left Text left
			p.text--center Text center
			p.text--right Text right
			p.text--justify Text justify - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laborum aspernatur quibusdam sed incidunt vitae eum id tempore recusandae magni atque, cupiditate fugiat magnam nostrum sint natus enim corporis quam.
			p.text--nowrap Text nowrap - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laborum aspernatur quibusdam sed incidunt vitae eum id tempore recusandae magni atque, cupiditate fugiat magnam nostrum sint natus enim corporis quam.
			p.text--break Text break - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laborum aspernatur quibusdam sed incidunt vitae eum id tempore recusandae magni atque, cupiditate fugiat magnam nostrum sint natus enim corporis quam.
			p.text--ellipsis Text ellipsis - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laborum aspernatur quibusdam sed incidunt vitae eum id tempore recusandae magni atque, cupiditate fugiat magnam nostrum sint natus enim corporis quam.
			p.text--uppercase Text uppercase
			p.text--lowercase Text lowercase
			p.text--capitalize Text capitalize

			hr

			<button class="bt">Button &lt;button&gt;</button>
			<a href="" class="bt">Button &lt;a&gt;</a>
			<div class="bt">Button &lt;div&gt;</div>
			<span class="bt">Button &lt;span&gt;</span>

			br
			br

			p Themes:

			button.bt.bt--alert Alert
			button.bt.bt--warning Warning
			button.bt.bt--info Info
			button.bt.bt--success Success
			button.bt.bt--primary Primary
			button.bt.bt--secondary Secondary

			br
			br

			p Styles:

			button.bt Default
			button.bt.bt--fussy Fussy
			button.bt.bt--quiet Quiet

			br
			br

			p Styles with themes:

			button.bt.bt--fussy.bt--alert Fussy Alert
			button.bt.bt--quiet.bt--alert Quiet Alert

			br
			br

			button.bt.bt--fussy.bt--warning Fussy Warning
			button.bt.bt--quiet.bt--warning Quiet Warning

			br
			br

			button.bt.bt--fussy.bt--info Fussy Info
			button.bt.bt--quiet.bt--info Quiet Info

			br
			br

			button.bt.bt--fussy.bt--success Fussy Success
			button.bt.bt--quiet.bt--success Quiet Success

			br
			br

			button.bt.bt--fussy.bt--primary Fussy Primary
			button.bt.bt--quiet.bt--primary Quiet Primary

			br
			br

			button.bt.bt--fussy.bt--secondary Fussy Secondary
			button.bt.bt--quiet.bt--secondary Quiet Secondary

			br
			br

			p Sizes:

			button.bt.bt--small Small
			button.bt Default
			button.bt.bt--large Large
			button.bt.bt--giant Giant
			button.bt.bt--large Large
			button.bt Default
			button.bt.bt--small Small

			button.bt.bt--block.bt--small Block Small
			button.bt.bt--block Block Default
			button.bt.bt--block.bt--large Block Large
			button.bt.bt--block.bt--giant Block Giant

			br
			br

			p Active:

			button.bt Normal
			button.bt.bt--active Active

			br
			br

			p Disabled:

			button.bt Normal
			button.bt(disabled) Disabled

			hr

			table.table
				caption Table Caption
				thead
					tr
						th Table Heading 1
						th Table Heading 2
						th Table Heading 3
						th Table Heading 4
						th Table Heading 5
				tbody
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
				tfoot
					tr
						td Table Footer 1
						td Table Footer 2
						td Table Footer 3
						td Table Footer 4
						td Table Footer 5

			table.table.table--striped
				caption Striped Table
				thead
					tr
						th Table Heading 1
						th Table Heading 2
						th Table Heading 3
						th Table Heading 4
						th Table Heading 5
				tbody
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
				tfoot
					tr
						td Table Footer 1
						td Table Footer 2
						td Table Footer 3
						td Table Footer 4
						td Table Footer 5

			table.table.table--hoverable
				caption Hoverable Table
				thead
					tr
						th Table Heading 1
						th Table Heading 2
						th Table Heading 3
						th Table Heading 4
						th Table Heading 5
				tbody
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
				tfoot
					tr
						td Table Footer 1
						td Table Footer 2
						td Table Footer 3
						td Table Footer 4
						td Table Footer 5

			table.table.table--framed
				caption Framed Table
				thead
					tr
						th Table Heading 1
						th Table Heading 2
						th Table Heading 3
						th Table Heading 4
						th Table Heading 5
				tbody
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
				tfoot
					tr
						td Table Footer 1
						td Table Footer 2
						td Table Footer 3
						td Table Footer 4
						td Table Footer 5

			table.table.table--hoverable
				caption Themed Table
				thead
					tr
						th Table Heading 1
						th Table Heading 2
						th Table Heading 3
						th Table Heading 4
						th Table Heading 5
				tbody
					tr.table--default
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr.table--alert
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr.table--warning
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr.table--info
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr.table--success
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr.table--primary
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
					tr.table--secondary
						td Table Data 1
						td Table Data 2
						td Table Data 3
						td Table Data 4
						td Table Data 5
				tfoot
					tr
						td Table Footer 1
						td Table Footer 2
						td Table Footer 3
						td Table Footer 4
						td Table Footer 5

			.table--scrollable
				table.table
					caption Scrollable Table
					thead
						tr
							th Table Heading 1
							th Table Heading 2
							th Table Heading 3
							th Table Heading 4
							th Table Heading 5
							th Table Heading 6
							th Table Heading 7
							th Table Heading 8
							th Table Heading 9
							th Table Heading 10
							th Table Heading 11
							th Table Heading 12
							th Table Heading 13
							th Table Heading 14
							th Table Heading 15
					tbody
						tr
							td Table Data 1
							td Table Data 2
							td Table Data 3
							td Table Data 4
							td Table Data 5
							td Table Data 6
							td Table Data 7
							td Table Data 8
							td Table Data 9
							td Table Data 10
							td Table Data 11
							td Table Data 12
							td Table Data 13
							td Table Data 14
							td Table Data 15
						tr
							td Table Data 1
							td Table Data 2
							td Table Data 3
							td Table Data 4
							td Table Data 5
							td Table Data 6
							td Table Data 7
							td Table Data 8
							td Table Data 9
							td Table Data 10
							td Table Data 11
							td Table Data 12
							td Table Data 13
							td Table Data 14
							td Table Data 15
						tr
							td Table Data 1
							td Table Data 2
							td Table Data 3
							td Table Data 4
							td Table Data 5
							td Table Data 6
							td Table Data 7
							td Table Data 8
							td Table Data 9
							td Table Data 10
							td Table Data 11
							td Table Data 12
							td Table Data 13
							td Table Data 14
							td Table Data 15
						tr
							td Table Data 1
							td Table Data 2
							td Table Data 3
							td Table Data 4
							td Table Data 5
							td Table Data 6
							td Table Data 7
							td Table Data 8
							td Table Data 9
							td Table Data 10
							td Table Data 11
							td Table Data 12
							td Table Data 13
							td Table Data 14
							td Table Data 15
						tr
							td Table Data 1
							td Table Data 2
							td Table Data 3
							td Table Data 4
							td Table Data 5
							td Table Data 6
							td Table Data 7
							td Table Data 8
							td Table Data 9
							td Table Data 10
							td Table Data 11
							td Table Data 12
							td Table Data 13
							td Table Data 14
							td Table Data 15
					tfoot
						tr
							td Table Footer 1
							td Table Footer 2
							td Table Footer 3
							td Table Footer 4
							td Table Footer 5
							td Table Footer 6
							td Table Footer 7
							td Table Footer 8
							td Table Footer 9
							td Table Footer 10
							td Table Footer 11
							td Table Footer 12
							td Table Footer 13
							td Table Footer 14
							td Table Footer 15

			hr

			fieldset.form__group
				input.form__field-text.form__field--small(type='text', placeholder='Placeholder')

			fieldset.form__group
				input.form__field-text(type='text', placeholder='Placeholder')

			fieldset.form__group
				input.form__field-text.form__field--large(type='text', placeholder='Placeholder')

			fieldset.form__group
				input.form__field-text.form__field--giant(type='text', placeholder='Placeholder')

			fieldset.form__group
				textarea.form__field-longtext.form__field--small(rows='3', placeholder='Placeholder')

			fieldset.form__group
				textarea.form__field-longtext(rows='3', placeholder='Placeholder')

			fieldset.form__group
				textarea.form__field-longtext.form__field--large(rows='3', placeholder='Placeholder')

			fieldset.form__group
				textarea.form__field-longtext.form__field--giant(rows='3', placeholder='Placeholder')

			fieldset.form__group
				.form__combobox
					select.form__select.form__field--small
						option(value='1') Option 1
						option(value='2') Option 2
						option(value='3') Option 3
						option(value='4') Option 4
						option(value='5') Option 5

			fieldset.form__group
				.form__combobox
					select.form__select
						option(value='1') Option 1
						option(value='2') Option 2
						option(value='3') Option 3
						option(value='4') Option 4
						option(value='5') Option 5

			fieldset.form__group
				.form__combobox
					select.form__select.form__field--large
						option(value='1') Option 1
						option(value='2') Option 2
						option(value='3') Option 3
						option(value='4') Option 4
						option(value='5') Option 5

			fieldset.form__group
				.form__combobox
					select.form__select.form__field--giant
						option(value='1') Option 1
						option(value='2') Option 2
						option(value='3') Option 3
						option(value='4') Option 4
						option(value='5') Option 5

			fieldset.form__group
				select.form__select.form__field--small(multiple)
					option(value='1') Option 1
					option(value='2') Option 2
					option(value='3') Option 3
					option(value='4') Option 4
					option(value='5') Option 5

			fieldset.form__group
				select.form__select(multiple)
					option(value='1') Option 1
					option(value='2') Option 2
					option(value='3') Option 3
					option(value='4') Option 4
					option(value='5') Option 5

			fieldset.form__group
				select.form__select.form__field--large(multiple)
					option(value='1') Option 1
					option(value='2') Option 2
					option(value='3') Option 3
					option(value='4') Option 4
					option(value='5') Option 5

			fieldset.form__group
				select.form__select.form__field--giant(multiple)
					option(value='1') Option 1
					option(value='2') Option 2
					option(value='3') Option 3
					option(value='4') Option 4
					option(value='5') Option 5

			fieldset.form__group
				label.form__label
					input.form__checkbox.form__checkbox--small(type='checkbox')
					input.form__checkbox(type='checkbox')
					input.form__checkbox.form__checkbox--large(type='checkbox')
					input.form__checkbox.form__checkbox--giant(type='checkbox')
					| Label text

			fieldset.form__group
				label.form__label
					input.form__radio.form__radio--small(type='radio', name='example')
					input.form__radio(type='radio', name='example')
					input.form__radio.form__radio--large(type='radio', name='example')
					input.form__radio.form__radio--giant(type='radio', name='example')
					| Label text

			fieldset.form__group
				input.form__range.form__range--small(type='range')

			fieldset.form__group
				input.form__range(type='range')

			fieldset.form__group
				input.form__range.form__range--large(type='range')

			fieldset.form__group
				input.form__range.form__range--giant(type='range')

			fieldset.form__group
				input.form__color(type='color')

			p Themes:

			fieldset.form__group
				input.form__field-text.form__field--alert(type='text', placeholder='Alert')

			fieldset.form__group
				textarea.form__field-longtext.form__field--alert(rows='3', placeholder='Alert')

			fieldset.form__group
				.form__combobox
					select.form__select.form__field--alert
						option(value='1') Option 1
						option(value='2') Option 2
						option(value='3') Option 3
						option(value='4') Option 4
						option(value='5') Option 5


			fieldset.form__group
				select.form__select(multiple).form__field--alert
					option(value='1') Option 1
					option(value='2') Option 2
					option(value='3') Option 3
					option(value='4') Option 4
					option(value='5') Option 5

			fieldset.form__group
				label.form__label
					input.form__checkbox.form__checkbox--alert(type='checkbox')
					| Label text

			fieldset.form__group
				label.form__label
					input.form__radio.form__radio--alert(type='radio', name='example')
					input.form__radio.form__radio--alert(type='radio', name='example')
					| Label text

			fieldset.form__group
				input.form__range.form__range--alert(type='range')

			fieldset.form__group
				input.form__field-text.form__field--warning(type='text', placeholder='Warning')

			fieldset.form__group
				input.form__field-text.form__field--info(type='text', placeholder='Info')

			fieldset.form__group
				input.form__field-text.form__field--success(type='text', placeholder='Success')

			fieldset.form__group
				input.form__field-text.form__field--primary(type='text', placeholder='Primary')

			fieldset.form__group
				input.form__field-text.form__field--secondary(type='text', placeholder='Secondary')

			p Styles:

			fieldset.form__group
				input.form__field-text.form__field--fussy(type='text', placeholder='Fussy')

			fieldset.form__group
				input.form__field-text.form__field--quiet(type='text', placeholder='Quiet')

			p Styles with themes:

			.grid
				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--alert.form__field--fussy(type='text', placeholder='Alert')
				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--alert.form__field--quiet(type='text', placeholder='Alert')

				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--warning.form__field--fussy(type='text', placeholder='Warning')
				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--warning.form__field--quiet(type='text', placeholder='Warning')

				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--info.form__field--fussy(type='text', placeholder='Info')
				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--info.form__field--quiet(type='text', placeholder='Info')

				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--success.form__field--fussy(type='text', placeholder='Success')
				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--success.form__field--quiet(type='text', placeholder='Success')

				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--primary.form__field--fussy(type='text', placeholder='Primary')
				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--primary.form__field--quiet(type='text', placeholder='Primary')

				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--secondary.form__field--fussy(type='text', placeholder='Secondary')
				fieldset.form__group.grid__item-sm--6
					input.form__field-text.form__field--secondary.form__field--quiet(type='text', placeholder='Secondary')

			hr

			img.img--rounded(src='img/example.jpg')
			img.img--circle(src='img/example.jpg')
			img.img--thumb.img--hoverable(src='img/example.jpg')

			p Themes:

			img.img--thumb.img--hoverable.img--default(src='img/example.jpg')
			img.img--thumb.img--hoverable.img--alert(src='img/example.jpg')
			img.img--thumb.img--hoverable.img--warning(src='img/example.jpg')
			img.img--thumb.img--hoverable.img--info(src='img/example.jpg')
			img.img--thumb.img--hoverable.img--success(src='img/example.jpg')
			img.img--thumb.img--hoverable.img--primary(src='img/example.jpg')
			img.img--thumb.img--hoverable.img--secondary(src='img/example.jpg')

			p Responsive:

			img.img--responsive(src='img/mantis.jpg')

			hr

			p #[+icon('github')] #[small See #[a(href='https://github.com/mantis-stack/mantis-ui', target='_blank') Mantis UI on GitHub]].
