/*
 * Globals
 */

$mantis ?= {}
$mantis.ui = {
	gradients: {
		enable: false
	},
	gutters: {
		enable: true,
		default: 10px
	},
	radius: {
		enable: true,
		default: 3px
	},
	shadows: {
		enable: false
	},
	transitions: {
		enable: true,
		default: .5s
	}
}


/*
 * Colors
 *
 * Colors from Flat UI Colors:
 * https://flatuicolors.com/
 *
 * Use the following website to help you name other colors:
 * http://chir.ag/projects/name-that-color
 */

$color = {
	black: #000000,
	white: #ffffff,

	turquoise: #1abc9c,
	green-sea: #16a085,

	emerald: #2ecc71,
	nephritis: #27ae60,

	peter-river: #3498db,
	belize-hole: #2980b9,

	amethyst: #9b59b6,
	wisteria: #8e44ad,

	wet-asphalt: #34495e,
	midnight-blue: #2c3e50,

	sun-flower: #f1c40f,
	orange: #f39c12,

	carrot: #e67e22,
	pumpkin: #d35400,

	alizarin: #e74c3c,
	pomegranate: #c0392b,

	clouds: #ecf0f1,
	silver: #bdc3c7,

	concrete: #95a5a6,
	asbestos: #7f8c8d
}

$themes = {
	default: {
		normal: $color.concrete,
		highlight: $color.asbestos
	},
	alert: {
		normal: $color.alizarin,
		highlight: $color.pomegranate
	},
	warning: {
		normal: $color.carrot,
		highlight: $color.pumpkin
	},
	info: {
		normal: $color.peter-river,
		highlight: $color.belize-hole
	},
	success: {
		normal: $color.emerald,
		highlight: $color.nephritis
	}
	primary: {
		normal: $color.wet-asphalt,
		highlight: $color.midnight-blue
	},
	secondary: {
		normal: $color.amethyst,
		highlight: $color.wisteria
	}
}


/*
 * Typography
 */

// Font Families
$font-family-serif = Georgia, serif
$font-family-sans-serif = Arial, Helvetica, sans-serif
$font-family-monospace = Consolas, Courier, monospace
$font-family-marvel = 'Marvel', sans-serif

$font-family-default = $font-family-sans-serif
$font-family-brand = $font-family-marvel
$font-family-reference = $font-family-serif
$font-family-code = $font-family-monospace

// Font Sizes
$font-size-xlargest = rem(40)
$font-size-largest = rem(32)
$font-size-xxlarge = rem(28)
$font-size-xlarge = rem(24)
$font-size-large = rem(20)
$font-size-base = rem(16)
$font-size-small = rem(13)
$font-size-xsmall = rem(11)

// Font Weights
$font-weight-sans-serif-regular = normal
$font-weight-sans-serif-bold = bold
$font-weight-marvel-regular = 400
$font-weight-marvel-bold = 700

$font-weight-default-regular = $font-weight-sans-serif-regular
$font-weight-default-bold = $font-weight-sans-serif-bold
$font-weight-brand-regular = $font-weight-marvel-regular
$font-weight-brand-bold = $font-weight-marvel-bold

// Font Faces
$font-faces = {
	name: 'Marvel',
	file: 'Marvel-Regular',
	weight: $font-weight-brand-regular
}, {
	name: 'Marvel',
	file: 'Marvel-Bold',
	weight: $font-weight-brand-bold
}

// Font Scale
$font-scale = 100%

// Line Heights
$line-height-base = 1.5


/*
 * Transition
 */

$transition = $mantis.ui.transitions.default
$transition-fast = $transition / 2
$transition-slow = $transition * 2


/*
 * Breakpoints
 *
 * See how to use Mantis Querist:
 * https://github.com/mantis-stack/mantis-querist
 */

querist-init()


/*
 * Grid
 *
 * See how to use Mantis Grid System:
 * https://github.com/mantis-stack/mantis-grid
 */

$mantis.grid.breakpoints = {
	prefix: 'sm',
	gutter: $mantis.ui.gutters.enable && $mantis.ui.gutters.default
}, {
	prefix: 'md',
	gutter: $mantis.ui.gutters.enable && $mantis.ui.gutters.default,
	media-querie: $from.md
}, {
	prefix: 'lg',
	gutter: $mantis.ui.gutters.enable && $mantis.ui.gutters.default,
	media-querie: $from.lg
}
grid-init()


/*
 * Body
 */

$body-font-family = $font-family-default
$body-font-size = $font-size-base
$body-line-height = $line-height-base
$body-color = $color.midnight-blue
$body-background = $color.clouds


/*
 * Text Elements
 */

// Selections
$selection-color = $color.clouds
$selection-background = $color.midnight-blue

// Headings
$headings-margin = 0 0 8px
$headings-font-family = $font-family-brand
$headings-font-weight = $font-weight-brand-bold
$headings-color = inherit

$h1-font-size = $font-size-xlargest
$h2-font-size = $font-size-largest
$h3-font-size = $font-size-xxlarge
$h4-font-size = $font-size-xlarge
$h5-font-size = $font-size-large
$h6-font-size = $font-size-base

// Paragraphs
$p-margin = 0 0 12px
$p-font-size = $font-size-base
$p-color = inherit

// Links
$a-color = $color.peter-river
$a-color-hover = $color.belize-hole
$a-transition = $transition-fast

// Other Text Elements
$small-font-size = 75%

$strong-font-weight = bold

$em-font-style = italic

$mark-padding = 3px
$mark-background = rgba($color.sun-flower, .5)

$abbr-border-bottom = 1px dotted $body-color
$abbr-cursor = help

$samp-font-family = $font-family-code

$code-padding = 3px
$code-font-family = $samp-font-family
$code-color = $color.clouds
$code-background = $color.midnight-blue
$code-border-radius = $mantis.ui.radius.default
$code-selection-color = $color.midnight-blue
$code-selection-background = $color.clouds

$pre-overflow = auto
$pre-padding = 5px 10px
$pre-font-family = $code-font-family
$pre-color = $code-color
$pre-background = $code-background
$pre-border-radius = $mantis.ui.radius.default
$pre-selection-color = $code-selection-color
$pre-selection-background = $code-selection-background

$kbd-padding = $code-padding
$kbd-font-family = $code-font-family
$kbd-color = $code-color
$kbd-background = $color.asbestos
$kbd-border-radius = $mantis.ui.radius.default
$kbd-selection-color = $code-selection-color
$kbd-selection-background = $code-selection-background

$blockquote-padding = 15px 20px
$blockquote-font-family = $font-family-reference
$blockquote-font-size = inherit
$blockquote-font-style = italic
$blockquote-quotation-marks = true
$blockquote-border-style = solid
$blockquote-border-width = 0 0 0 5px
$blockquote-border-color = $color.silver
$blockquote-footer-color = $color.asbestos
$blockquote-cite-font-style = italic

$hr-margin = 20px 0
$hr-border-width = 0 0 1px
$hr-border-style = solid
$hr-border-color = $color.silver


/*
 * List Elements
 */

// Unordered Lists
$ul-padding = 0 0 0 20px
$ul-list-style-type = disc
$ul-ul-list-style-type = circle
$ul-ul-ul-list-style-type = square
$ul-ul-margin = 0

// Ordered Lists
$ol-padding = $ul-padding
$ol-list-style-type = decimal
$ol-ol-margin = $ul-ul-margin

// Definition Lists
$dt-margin = 0 0 3px
$dt-font-weight = bold


/*
 * Buttons
 */

$bt-padding = 5px 18px
$bt-border-width = 2px
$bt-border-style = solid
$bt-border-radius = $mantis.ui.radius.default
$bt-transition = $transition-fast
$bt-disabled-opacity = .75

// Sizes
$bt-small-padding = 0 10px
$bt-small-font-size = $font-size-small

$bt-large-padding = 8px 25px
$bt-large-font-size = $font-size-large

$bt-giant-padding = 12px 35px
$bt-giant-font-size = $font-size-xxlarge

$bt-block-margin = 3px 0 0

// Default Theme
$bt = {
	sizes: {
		small: {
			padding: 0 10px,
			font-size: $font-size-small
		},
		default: {
			padding: 5px 18px,
			font-size: $font-size-base
		},
		large: {
			padding: 8px 25px,
			font-size: $font-size-large
		},
		giant: {
			padding: 12px 35px,
			font-size: $font-size-xxlarge
		}
	},
	styles: {
		default: {
			default: {
				color: $color.white,
				background: 'normal'
				border-color: transparent
			},
			hover: {
				background: 'highlight'
			}
		},
		quiet: {
			default: {
				color: 'normal',
				background: transparent
			},
			hover: {
				color: 'highlight',
				background: ('normal' alpha .25)
			}
		},
		fussy: {
			default: {
				color: 'normal',
				background: transparent,
				border-color: 'normal'
			},
			hover: {
				color: 'highlight',
				background: ('normal' alpha .25),
				border-color: 'highlight'
			}
		}
	}
}


/*
 * Tables
 */

$table-border = 1px solid $color.silver
$table-striped-background = lightness($color.silver, 92%)
$table-hoverable-background = lightness($color.silver, 90%)
$table-hoverable-transition = $transition-fast

$caption-padding = 12px 0
$caption-color = $color.asbestos

$th-padding = 12px
$th-border-bottom = 2px solid $color.silver

$td-padding = 12px
$td-border-top = 1px solid $color.silver

$tbody-color = $color.asbestos
