/*
 * General Config
 */

// Selections
$selection-color = $color.clouds
$selection-background = $color.midnight-blue

// Body
$body-color = $color.midnight-blue
$body-background = $color.clouds


/*
 * General Styles
 */

+selection()
	color $selection-color
	background $selection-background

body
	color $body-color
	background $body-background
