section#buttons.grid__item-sm--12
	h1 Buttons

	p #[em Mantis UI] includes several predefined button styles, themes, sizes and states. You just need to add #[code .bt] class in a #[code button], #[code a] or #[code input(type="button|submit|reset")] and choose which modifier best fits your needs.
	br

	article#button-themes.layout__article
		h2 Themes

		p
			button.bt Default
			button.bt.bt--alert Alert
			button.bt.bt--warning Warning
			button.bt.bt--info Info
			button.bt.bt--success Success
			button.bt.bt--primary Primary
			button.bt.bt--secondary Secondary

		pre.
			button.bt Default
			button.bt.bt--alert Alert
			button.bt.bt--warning Warning
			button.bt.bt--info Info
			button.bt.bt--success Success
			button.bt.bt--primary Primary
			button.bt.bt--secondary Secondary

	hr

	article#button-styles.layout__article
		h2 Styles

		p
			button.bt Default
			button.bt.bt--fussy Fussy
			button.bt.bt--quiet Quiet

		p
			button.bt.bt--alert Default
			button.bt.bt--alert.bt--fussy Fussy
			button.bt.bt--alert.bt--quiet Quiet

		p
			button.bt.bt--warning Default
			button.bt.bt--warning.bt--fussy Fussy
			button.bt.bt--warning.bt--quiet Quiet

		p
			button.bt.bt--info Default
			button.bt.bt--info.bt--fussy Fussy
			button.bt.bt--info.bt--quiet Quiet

		p
			button.bt.bt--success Default
			button.bt.bt--success.bt--fussy Fussy
			button.bt.bt--success.bt--quiet Quiet

		p
			button.bt.bt--primary Default
			button.bt.bt--primary.bt--fussy Fussy
			button.bt.bt--primary.bt--quiet Quiet

		p
			button.bt.bt--secondary Default
			button.bt.bt--secondary.bt--fussy Fussy
			button.bt.bt--secondary.bt--quiet Quiet

		pre.
			button.bt Default
			button.bt.bt--fussy Fussy
			button.bt.bt--quiet Quiet

	hr

	article#button-sizes.layout__article
		h2 Sizes

		p
			button.bt.bt--small Small
			button.bt Default
			button.bt.bt--large Large
			button.bt.bt--giant Giant

		pre.
			button.bt.bt--small Small
			button.bt Default
			button.bt.bt--large Large
			button.bt.bt--giant Giant
		br

		p
			button.bt.bt--block.bt--small Block Small
			button.bt.bt--block Block Default
			button.bt.bt--block.bt--large Block Large
			button.bt.bt--block.bt--giant Block Giant

		pre.
			button.bt.bt--block.bt--small Block Small
			button.bt.bt--block Block Default
			button.bt.bt--block.bt--large Block Large
			button.bt.bt--block.bt--giant Block Giant

	hr

	article#button-states.layout__article
		h2 States

		p
			button.bt Default
			button.bt.bt--active Active
			button.bt(disabled) Disabled

		pre.
			button.bt Default
			button.bt.bt--active Active
			button.bt(disabled) Disabled

	hr

	article#button-group.layout__article
		h2 Button Group

		p You can make button groups by wrapping the buttons using the #[code .bt-group] class.
		br

		p.bt-group
			button.bt Button 1
			button.bt Button 2
			button.bt Button 3

		pre.
			.bt-group
			    button.bt Button 1
			    button.bt Button 2
			    button.bt Button 3
		br

		p.bt-group-vertical
			button.bt Button
			button.bt Button
			button.bt Button with more content
			button.bt Button

		pre.
			.bt-group-vertical
			    button.bt Button
			    button.bt Button
			    button.bt Button with more content
			    button.bt Button
		br

		p.bt-group.bt-group--giant
			button.bt Button
			button.bt Button

		p.bt-group.bt-group--large
			button.bt Button
			button.bt Button

		p.bt-group
			button.bt Button
			button.bt Button

		p.bt-group.bt-group--small
			button.bt Button
			button.bt Button

		pre.
			.bt-group.bt-group--giant
				button.bt Button
				button.bt Button

			.bt-group.bt-group--large
				button.bt Button
				button.bt Button

			.bt-group
				button.bt Button
				button.bt Button

			.bt-group.bt-group--small
				button.bt Button
				button.bt Button
		br

		p.bt-group-vertical.bt-group--giant
			button.bt Button
			button.bt Button

		p.bt-group-vertical.bt-group--large
			button.bt.bt--fussy Button
			button.bt.bt--fussy Button

		p.bt-group-vertical
			button.bt.bt--quiet Button
			button.bt.bt--quiet Button

		p.bt-group-vertical.bt-group--small
			button.bt Button
			button.bt Button

		pre.
			.bt-group-vertical.bt-group--giant
				button.bt Button
				button.bt Button

			.bt-group-vertical.bt-group--large
				button.bt.bt--fussy Button
				button.bt.bt--fussy Button

			.bt-group-vertical
				button.bt.bt--quiet Button
				button.bt.bt--quiet Button

			.bt-group-vertical.bt-group--small
				button.bt Button
				button.bt Button

	hr
