section#lists.layout__content.ui.grid__item-sm--12
	h1 Lists

	article#list-unordered.layout__article
		h2 Unordered

		p Use #[code .ui ul] or #[code .ul] to make unordered lists
		br

		ul
			li Lorem ipsum dolor sit amet
			li Consectetur adipiscing elit
			li Integer molestie lorem at massa
			li Facilisis in pretium nisl aliquet
			li Nulla volutpat aliquam velit
				ul
					li Phasellus iaculis neque
					li Purus sodales ultricies
						ul
							li Phasellus iaculis neque
							li Ac tristique libero volutpat at
					li Vestibulum laoreet porttitor sem
					li Ac tristique libero volutpat at
			li Faucibus porta lacus fringilla vel
			li Aenean sit amet erat nunc
			li Eget porttitor lorem

		pre.
			ul
			    li Lorem ipsum dolor sit amet
			    li Consectetur adipiscing elit
			    li Integer molestie lorem at massa
			    li Facilisis in pretium nisl aliquet
			    li Nulla volutpat aliquam velit
			        ul
			            li Phasellus iaculis neque
			            li Purus sodales ultricies
			                ul
			                    li Phasellus iaculis neque
			                    li Ac tristique libero volutpat at
			            li Vestibulum laoreet porttitor sem
			            li Ac tristique libero volutpat at
			    li Faucibus porta lacus fringilla vel
			    li Aenean sit amet erat nunc
			    li Eget porttitor lorem

	hr

	article#list-ordered.layout__article
		h2 Ordered

		p Use #[code .ui ol] or #[code .ol] to make ordered lists
		br

		ol
			li Lorem ipsum dolor sit amet
			li Consectetur adipiscing elit
			li Integer molestie lorem at massa
			li Facilisis in pretium nisl aliquet
			li Nulla volutpat aliquam velit
				ol
					li Phasellus iaculis neque
					li Purus sodales ultricies
					li Vestibulum laoreet porttitor sem
					li Ac tristique libero volutpat at
			li Faucibus porta lacus fringilla vel
			li Aenean sit amet erat nunc
			li Eget porttitor lorem

		pre.
			ol
			    li Lorem ipsum dolor sit amet
			    li Consectetur adipiscing elit
			    li Integer molestie lorem at massa
			    li Facilisis in pretium nisl aliquet
			    li Nulla volutpat aliquam velit
			        ol
			            li Phasellus iaculis neque
			            li Purus sodales ultricies
			            li Vestibulum laoreet porttitor sem
			            li Ac tristique libero volutpat at
			    li Faucibus porta lacus fringilla vel
			    li Aenean sit amet erat nunc
			    li Eget porttitor lorem

	hr

	article#definition-list.layout__article
		h2 Definition List

		p Use #[code .ui dl] or #[code .dl] to make definition lists
		br

		dl
			dt Definition lists
			dd A definition list defines terms and their corresponding descriptions.
			dt This is a term
			dd This is a description.
			dt This is a term
			dd This is a description.

		pre.
			dl
			    dt Definition lists
			    dd A definition list defines terms and their corresponding descriptions.
			    dt This is a term
			    dd This is a description.
			    dt This is a term
			    dd This is a description.

	hr
