/*
 * Buttons
 */

// Define state
button-set-state($theme, $style, $state)
	for $prop, $val in $bt.styles[$style][$state]
		if length($val) is 3
			$c = $themes[$theme][$val[0]]
			$f = $val[1]
			$p = $val[2]
			{$prop} $f($c, $p)
		else if typeof($val) is 'string'
			$c = $themes[$theme][$val]
			{$prop} $c
		else
			{$prop} $val

// Define theme
button-theme($theme, $style)
	button-set-state($theme, $style, 'default')

	&:hover
	&:focus
	&.bt--active
		button-set-state($theme, $style, 'hover')

.bt
	display inline-block
	padding $bt-padding
	text-align center
	line-height inherit
	white-space nowrap
	vertical-align middle
	border-width $bt-border-width
	border-style $bt-border-style
	border-radius $bt-border-radius
	transition $bt-transition
	cursor pointer
	button-theme 'default' 'default'

	&[disabled]
		opacity $bt-disabled-opacity
		cursor not-allowed
		pointer-events none

	+ .bt--block
		margin $bt-block-margin

	// Sizes
	for $size in $bt.sizes
		&--{$size}
			for $prop, $val in $bt.sizes[$size]
				{$prop} $val

	&--block
		display block
		width 100%

	// Styles
	for $style in $bt.styles
		&--{$style}
			button-theme 'default' $style

	// Themes
	for $theme in $themes
		&--{$theme}
			button-theme $theme 'default'

			for $style in $bt.styles
				&.bt--{$style}
					button-theme $theme $style
