/*
 * Buttons
 */

// Define state
button-set-state($theme, $style, $state)
	for $prop, $val in $bt.styles[$style][$state]
		$v = ($val is 'normal' || $val is 'highlight') ? $themes[$theme][$val] : $val
		{$prop} $v

// Define theme
button-theme($theme, $style)
	button-set-state($theme, $style, 'default')

	&:hover
		button-set-state($theme, $style, 'hover')

.bt
	display inline-block
	padding $bt-padding
	text-align center
	line-height inherit
	white-space nowrap
	vertical-align middle
	border-width $bt-border-width
	border-style $bt-border-style
	border-radius $bt-border-radius
	transition $bt-transition
	cursor pointer
	button-theme 'default' 'default'

	// Sizes
	for $size in $bt.sizes
		&--{$size}
			for $prop, $val in $bt.sizes[$size]
				{$prop} $val

	// Styles
	for $style in $bt.styles
		&--{$style}
			button-theme 'default' $style

	// Themes
	for $theme in $themes
		&--{$theme}
			button-theme $theme 'default'

			for $style in $bt.styles
				&.bt--{$style}
					button-theme $theme $style
