/*
 * Forms
 */

.form
	&__group
		@extends .p

	&__field-text
		display block
		width 100%
		padding $form-field-padding
		line-height inherit
		color $form-field-color
		background $form-field-background
		border $form-field-border
		border-radius $form-field-border-radius
		transition $form-field-transition

		&:focus
			border-color $form-field-focus-border-color

	&__field-longtext
		@extends .form__field-text

	&__combobox
		position relative

		&:after
			content '▼'
			position absolute
			top 50%
			right 10px
			font-size 10px
			transform translateY(-50%)
			pointer-events none

		&__select
			@extends .form__field-text
