/*
 * Forms
 */

.form
	&__field-text
		display block
		width 100%
		padding $form-field-padding
		font-size inherit
		line-height inherit
		color $form-field-color
		background $form-field-background
		border $form-field-border
		border-radius $form-field-border-radius

	&__field-longtext
		@extends .form__field-text
