/*
 * Generate font-faces from $font-faces
 */

for font in $font-faces
	font-face(font.name, font.file, font.weight)


/*
 * Text Styles
 */

+selection()
	color $selection-color
	background $selection-bg

html
	font-size $font-scale

body
	font-family $body-font-family
	font-size $body-font-size
	line-height $body-line-height

.h1
h1
	margin-bottom $headings-margin-bottom
	font-family $headings-font-family
	font-size $h1-font-size
	font-weight $headings-font-weight
	color $headings-color

.h2
h2
	@extends .h1
	font-size $h2-font-size

.h3
h3
	@extends .h1
	font-size $h3-font-size

.h4
h4
	@extends .h1
	font-size $h4-font-size
.h5
h5
	@extends .h1
	font-size $h5-font-size

.h6
h6
	@extends .h1
	font-size $h6-font-size

.p
p
	margin 0 0 $p-margin-bottom
	font-size $p-font-size
	color $p-color

.a
a
	color $a-color
	transition $a-transition

	&:hover
		color $a-color-hover
		text-decoration underline

.small
small
	font-size $small-font-size

.em
em
	font-style $em-font-style

.mark
mark
	padding $mark-padding
	background $mark-bg

.abbr
abbr
	border-bottom $abbr-border-bottom

	&[title]
		cursor $abbr-cursor

.samp
samp
	font-family $font-family-monospace

.code
code
	padding $code-padding
	font-family $code-font-family
	color $code-color
	background $code-bg
	border-radius $code-border-radius

	+selection()
		color $code-selection-color
		background $code-selection-bg

.pre
pre
	@extends .p
	overflow $pre-overflow
	padding $pre-padding
	font-family $pre-font-family
	color $pre-color
	background $pre-bg
	border-radius $pre-border-radius

	+selection()
		color $pre-selection-color
		background $pre-selection-bg

.kbd
kbd
	padding $kbd-padding
	font-family $kbd-font-family
	color $kbd-color
	background $kbd-bg
	border-radius $kbd-border-radius

	+selection()
		color $kbd-selection-color
		background $kbd-selection-bg

.blockquote
blockquote
	@extends .p
	padding $blockquote-padding
	font-family $blockquote-font-family
	font-size $blockquote-font-size
	border-style $blockquote-border-style
	border-width $blockquote-border-width
	border-color $blockquote-border-color

	if $blockquote-quotation-marks
		p
			font-style $blockquote-font-style

			&:before
				content '“'

			&:after
				content '”'

	&__footer
		color $blockquote-footer-color

		&:before
			content '\2014 \00A0'
