/*
 * Generate font-faces from $font-faces
 */

for font in $font-faces
	font-face(font.name, font.file, font.weight)


/*
 * General Text Styles
 */

+selection()
	color $selection-color
	background $selection-background

html
	font-size $font-scale

body
	font-family $body-font-family
	font-size $body-font-size
	line-height $body-line-height


/*
 * "Classful" Text Styles
 */

.h1
	margin $headings-margin
	font-family $headings-font-family
	font-size $h1-font-size
	font-weight $headings-font-weight
	color $headings-color

.h2
	@extends .h1
	font-size $h2-font-size

.h3
	@extends .h1
	font-size $h3-font-size

.h4
	@extends .h1
	font-size $h4-font-size
.h5
	@extends .h1
	font-size $h5-font-size

.h6
	@extends .h1
	font-size $h6-font-size

.p
	margin $p-margin
	font-size $p-font-size
	color $p-color

.a
	color $a-color
	transition $a-transition

	&:hover
		color $a-color-hover
		text-decoration underline

.small
	font-size $small-font-size

.em
	font-style $em-font-style

.mark
	padding $mark-padding
	background $mark-background

.abbr
	border-bottom $abbr-border-bottom

	&[title]
		cursor $abbr-cursor

.samp
	font-family $font-family-monospace

.code
	padding $code-padding
	font-family $code-font-family
	color $code-color
	background $code-background
	border-radius $code-border-radius

	+selection()
		color $code-selection-color
		background $code-selection-background

.pre
	@extends .p
	overflow $pre-overflow
	padding $pre-padding
	font-family $pre-font-family
	color $pre-color
	background $pre-background
	border-radius $pre-border-radius

	+selection()
		color $pre-selection-color
		background $pre-selection-background

.kbd
	padding $kbd-padding
	font-family $kbd-font-family
	color $kbd-color
	background $kbd-background
	border-radius $kbd-border-radius

	+selection()
		color $kbd-selection-color
		background $kbd-selection-background

.blockquote
	@extends .p
	padding $blockquote-padding
	font-family $blockquote-font-family
	font-size $blockquote-font-size
	border-style $blockquote-border-style
	border-width $blockquote-border-width
	border-color $blockquote-border-color

	if $blockquote-quotation-marks
		&__quote
			font-style $blockquote-font-style

			&:before
				content '“'

			&:after
				content '”'

	&__footer
		color $blockquote-footer-color

		&:before
			content '\2014 \00A0'

	&__cite
		font-style $blockquote-cite-font-style


/*
 * "Classless" Text Styles
 */

.ui
	h1
		@extends .h1

	h2
		@extends .h2

	h3
		@extends .h3

	h4
		@extends .h4

	h5
		@extends .h5

	h6
		@extends .h6

	p
		@extends .p

	a
		@extends .a

	small
		@extends .small

	em
		@extends .em

	mark
		@extends .mark

	abbr
		@extends .abbr

	samp
		@extends .samp

	code
		@extends .code

	pre
		@extends .pre

	kbd
		@extends .kbd

	blockquote
		@extends .blockquote
