nav.navbar.navbar--expand-lg.navbar--sticky
	.navbar__brand
		a(href='/', title='Mantis UI')
			img.icon(src='./img/logo.svg')
			| Mantis UI

	.navbar__collapse
		ul.navbar__nav
			li.navbar__nav__item
				a.navbar__link(href='/', title='Home', class={'navbar__link--active': page.section === 'home'}) Home
			li.navbar__nav__item.dropdown
				button.navbar__link.dropdown__toggle(title='Documentation', class={'navbar__link--active': page.section === 'docs'}) Documentation
				.dropdown__list.dropdown__list--bottom-left
					button.dropdown__close
						+icon('close')
					.dropdown__header Get started
					a.dropdown__item(href='#!') Introduction
					a.dropdown__item(href='#!') Usage
					hr.dropdown__separator
					.dropdown__header Typography
					a.dropdown__item(href='#!') Introduction
			li.navbar__nav__item
				a.navbar__link.navbar__link--disabled(title='Soon', class={'navbar__link--active': page.section === 'examples'}) Examples
			li.navbar__nav__item
				a.bt.bt--fussy.bt--success(href='https://github.com/mantis-stack/mantis-ui/archive/master.zip', title='Download', target='_blank') #[+icon('file-download')] Download

	button.navbar__menu.bt.bt--fussy
		+icon('menu')
