include ../config/index
include ../components/index

doctype html
html
	include ../includes/head
	link(rel="stylesheet", type="text/css", href="css/docs.css")

	body

		block content

		include ../includes/ending

		script(async, defer, src='https://buttons.github.io/buttons.js')
