.layout
	width 100vw
	height 100vh

	&__sidebar
	&__scrollable
		overflow hidden
		overflow-y auto
		height 100vh

	&__sidebar
		display none

		@media $from.lg
			display block
			padding 10px 50px
			border-right 1px solid $hr-border-color

	&__content
		flex-grow 1

	&__footer
		margin-top 20px

		iframe
			margin 5px 10px
