.layout
	width 100vw

	&__sidebar
	&__scrollable
		overflow auto
		height 100vh

	&__sidebar
		display none

		@media $from.lg
			display block
			padding 10px 20px

	&__content
		flex-grow 1

	&__footer
		margin-top 20px

		iframe
			margin 5px 10px
