.layout
	display grid
	grid-template-columns auto
	grid-template-rows 60px auto
	grid-template-areas 'nav' 'content'

	@media $from.lg
		grid-template-columns 250px auto
		grid-template-areas 'nav nav' 'sidebar content'
		height 100vh

	&__sidebar
	&__content
		overflow hidden
		overflow-y auto

	&__sidebar
		display none
		grid-area sidebar

		@media $from.lg
			display block
			padding 10px 50px
			border-right 1px solid $hr-border-color

	&__content
		grid-area content

	&__footer
		grid-area footer
		padding-top 20px

		iframe
			margin 5px 10px

	.navbar
		grid-area nav
