footer.layout__footer.grid__item-sm--auto.text--center
	p.small.em.text--muted Version #{version}

	a(class='github-button', href='https://github.com/mantis-stack/mantis-ui', data-icon='octicon-star', data-show-count='true', aria-label='Star mantis-stack/mantis-ui on GitHub') Star
	a(class='github-button', href='https://github.com/mantis-stack/mantis-ui/fork', data-icon='octicon-repo-forked', data-show-count='true', aria-label='Fork mantis-stack/mantis-ui on GitHub') Fork
